<a href="https://colab.research.google.com/github/NitishHarsha18/ML-LAB/blob/main/ML_assign_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random
import csv

In [ ]:
csvdf=pd.read_csv('/content/ML-ASSIGNMENT_2.csv')

In [ ]:
csvdf

    S.NO HALLTICKET NO                    NAME  ...     ASSIGNMENT      MARKS RESULT
0      1    19h61a3501              A.RAJKUMAR  ...       very bad       good   PASS
1      2    19h61a3502       A.SAI RAHUL REDDY  ...      excellent  excellent   PASS
2      3    19h61a3503      A.DEEPTHI CHOWDARY  ...      excellent  excellent   PASS
3      4    19h61a3504          A.HEMANT KUMAR  ...      excellent  excellent   PASS
4      5    19h61a3505          A.SOWMYA REDDY  ...      excellent  excellent   PASS
..   ...           ...                     ...  ...            ...        ...    ...
59    60    20H65A3502     VENKATESHWARA REDDY  ...      excellent  excellent   PASS
60    61    20H65A3503               S.TEJASWI  ...      excellent  excellent   PASS
61    62    20H65A3504                MA.RAHIL  ...  below average     absent   FAIL
62    63    20H65A3505  G.SAI SIDDHAERTH REDDY  ...           good  excellent   PASS
63    64    20H65A3506             A.JAGADEESH  ...  below average    average   FAIL

[64 rows x 7 columns]

In [ ]:
positive = csvdf[csvdf['RESULT']=='PASS']
positive

    S.NO HALLTICKET NO  ...      MARKS RESULT
0      1    19h61a3501  ...       good   PASS
1      2    19h61a3502  ...  excellent   PASS
2      3    19h61a3503  ...  excellent   PASS
3      4    19h61a3504  ...  excellent   PASS
4      5    19h61a3505  ...  excellent   PASS
5      6    19h61a3506  ...  excellent   PASS
6      7    19h61a3507  ...  excellent   PASS
7      8    19h61a3508  ...  excellent   PASS
8      9    19h61a3509  ...  excellent   PASS
9     10    19h61a3510  ...  excellent   PASS
10    11    19h61a3511  ...  excellent   PASS
12    13    19h61a3513  ...  excellent   PASS
13    14    19h61a3514  ...  excellent   PASS
14    15    19h61a3515  ...  excellent   PASS
15    16    19h61a3516  ...       good   PASS
16    17    19h61a3517  ...  excellent   PASS
17    18    19h61a3518  ...  excellent   PASS
18    19    19h61a3519  ...  excellent   PASS
19    20    19h61a3520  ...  excellent   PASS
20    21    19h61a3521  ...  excellent   PASS
21    22    19h61a3522  ...  excellent   PASS
22    23    19h61a3523  ...  excellent   PASS
23    24    19h61a3524  ...  excellent   PASS
24    25    19h61a3525  ...  excellent   PASS
25    26    19h61a3526  ...  excellent   PASS
26    27    19h61a3527  ...  excellent   PASS
27    28    19h61a3528  ...  excellent   PASS
28    29    19h61a3529  ...  excellent   PASS
29    30    19h61a3530  ...  excellent   PASS
30    31    19h61a3531  ...  excellent   PASS
31    32    19h61a3532  ...  excellent   PASS
32    33    19h61a3533  ...  excellent   PASS
33    34    19h61a3534  ...  excellent   PASS
34    35    19h61a3535  ...  excellent   PASS
35    36    19h61a3536  ...  excellent   PASS
36    37    19h61a3538  ...  excellent   PASS
37    38    19h61a3539  ...  excellent   PASS
38    39    19h61a3540  ...  excellent   PASS
40    41    19h61a3542  ...  excellent   PASS
41    42    19h61a3543  ...  excellent   PASS
42    43    19h61a3544  ...  excellent   PASS
44    45    19h61a3546  ...  excellent   PASS
45    46    19h61a3547  ...  excellent   PASS
46    47    19h61a3548  ...  excellent   PASS
47    48    19h61a3549  ...  excellent   PASS
48    49    19h61a3550  ...  excellent   PASS
49    50    19h61a3551  ...  excellent   PASS
50    51    19h61a3552  ...  excellent   PASS
51    52    19h61a3553  ...  excellent   PASS
52    53    19h61a3554  ...  excellent   PASS
53    54    19h61a3555  ...  excellent   PASS
54    55    19h61a3556  ...  excellent   PASS
55    56    19h61a3558  ...  excellent   PASS
56    57    19h61a3559  ...  excellent   PASS
57    58    19h61a3560  ...  excellent   PASS
58    59    20H65A3501  ...       good   PASS
59    60    20H65A3502  ...  excellent   PASS
60    61    20H65A3503  ...  excellent   PASS
62    63    20H65A3505  ...  excellent   PASS

[59 rows x 7 columns]

In [ ]:
negative = csvdf[csvdf['RESULT']=='FAIL']
negative

    S.NO HALLTICKET NO              NAME GENDER      ASSIGNMENT    MARKS RESULT
11    12    19h61a3512  C.MANIDEEP REDDY       M  below average  average   FAIL
39    40    19h61a3541          P.SAKETH       M      excellent   absent   FAIL
43    44    19h61a3545     R.BADRI KUMAR       M           good   absent   FAIL
61    62    20H65A3504          MA.RAHIL       M  below average   absent   FAIL
63    64    20H65A3506       A.JAGADEESH       M  below average  average   FAIL